.logo {
  font-size: 20px;
  color: #373737;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .navbar {
    border: 0px;
    background: #ffffff;
    box-shadow: 0 5px 8px 0 rgba(7,17,27,.1);
    padding-left: 10%;
    padding-right: 5%;
  }
  .logo {
    font-size: 30px;
    color: #3893ff;
  }
  .navbar,.navbar-brand,.navbar a {
    height: 58px;
  }
}
.navbar-collapse.in {
  overflow-y: hidden;
}