<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taylorsfan.blog.repository.relation.CommentUserMapper">
    <resultMap id="BaseResultMap" type="com.taylorsfan.blog.model.relation.CommentUser">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="comment_id" jdbcType="INTEGER" property="commentId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, comment_id, user_id
    </sql>
    <insert id="insert" parameterType="com.taylorsfan.blog.model.relation.CommentUser" keyProperty="id"
            useGeneratedKeys="true">
        insert into comment_user (comment_id, user_id,
        status)
        values ( #{commentId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
        #{status,jdbcType=INTEGER})
    </insert>
    <delete id="deleteByUserId" parameterType="java.lang.Integer">
        delete from comment_user
        where user_id = #{userId}
    </delete>
    <delete id="deleteByCommentId" parameterType="integer">
        DELETE FROM comment_user WHERE comment_id = #{commentId}
    </delete>
    <select id="count" parameterType="integer" resultType="integer">
        select count(*) from comment_user WHERE comment_id = #{id}
    </select>
</mapper>