<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taylorsfan.blog.repository.relation.UserBlogMapper">
    <resultMap id="BaseResultMap" type="com.taylorsfan.blog.model.relation.UserBlog">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="blog" jdbcType="INTEGER" property="blog"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, blog
    </sql>
    <insert id="insert" parameterType="com.taylorsfan.blog.model.relation.UserBlog" useGeneratedKeys="true"
            keyProperty="id">
        insert into user_blog (id, user_id, blog)
        values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{blog,jdbcType=INTEGER})
    </insert>
    <select id="count" parameterType="integer" resultType="int">
        select count(*) from user_blog WHERE user_id = #{userId}
    </select>
    <delete id="deleteByUserId" parameterType="integer">
        DELETE FROM user_blog WHERE user_id = #{userId}
    </delete>
    <delete id="deleteByBlogId">
        DELETE FROM user_blog WHERE blog_id = #{blogId}
    </delete>

</mapper>