<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taylorsfan.blog.repository.CommentMapper">
    <resultMap id="BaseResultMap" type="com.taylorsfan.blog.model.Comment">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, create_time, content, status, parent_id
    </sql>
    <select id="selectAll" resultMap="BaseResultMap">
        select * from comment
    </select>
    <select id="selectOneByPrimaryKey" resultMap="BaseResultMap">
        select * from comment WHERE id = #{id}
    </select>
    <insert id="insert" parameterType="com.taylorsfan.blog.model.Comment" useGeneratedKeys="true" keyProperty="id">
        insert into comment (id, create_time, content,
        status, parent_id)
        values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
        #{status,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER})
    </insert>
    <select id="selectAllByUserId" parameterType="integer" resultMap="BaseResultMap">
        select comment.* from comment,comment_user WHERE comment_user.user_id = #{userId}
        AND comment_user.comment_id = comment.id
    </select>
    <select id="selectAllByBlogId" parameterType="integer" resultMap="BaseResultMap">
        select comment.* FROM comment,blog_comment WHERE blog_comment.blog_id = #{blogId}
        AND comment.parent_id = 0
    </select>
    <select id="selectAllByCommentId" parameterType="integer" resultMap="BaseResultMap">
        select * from comment WHERE parent_id = #{commentId}
    </select>
    <delete id="deleteByBlogId" parameterType="integer">
        DELETE FROM comment WHERE id IN (select comment_id from blog_comment WHERE blog_comment.blog_id = #{blogId})
    </delete>
    <update id="updateByCommentId" parameterType="integer">
        UPDATE comment SET
        content = '此评论已被删除'
        WHERE id = #{commentId}
    </update>
    <update id="updateByUserId" parameterType="integer">
        UPDATE comment SET
        content = '此用户已被删除！'
        WHERE id IN (select comment_id from comment_user WHERE user_id = #{userId})
    </update>

</mapper>