<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taylorsfan.blog.repository.PermissionMapper">
    <resultMap id="BaseResultMap" type="permission">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="permission_name" jdbcType="VARCHAR" property="permissionName"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, permission_name
    </sql>
    <select id="selectAll" resultMap="BaseResultMap">
        select * from permission
    </select>
    <select id="selectOneByPrimaryKey" parameterType="integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from permission
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="integer">
        delete from permission
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.taylorsfan.blog.model.Permission" keyProperty="id" useGeneratedKeys="true">
        insert into permission (id, permission_name)
        values (#{id,jdbcType=INTEGER}, #{permissionName,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="permission">
        update permission
        set permission_name = #{permissionName,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectAllByRoleId" parameterType="integer" resultMap="BaseResultMap">
        select permission.* from role_permission,permission WHERE role_permission.role_id = #{roleId}
        AND permission.id = role_permission.permission_id
    </select>
    <select id="selectAllByUserId" parameterType="integer" resultType="string">
        select DISTINCT permission.permission_name permissionName
        from user_role,role,role_permission,permission
        WHERE user_id = 1 AND user_role.role_id = role.id
        AND role.id= role_permission.role_id
        AND permission.id = role_permission.permission_id
    </select>
</mapper>