<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taylorsfan.blog.repository.UserFocusMapper">
    <resultMap id="BaseResultMap" type="com.taylorsfan.blog.model.UserFocus">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="focus_id" jdbcType="INTEGER" property="focusId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, focus_id
    </sql>
    <select id="selectAll" resultMap="BaseResultMap">
        select * from user_focus
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_focus
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="count" parameterType="integer" resultType="int">
        select * from user_focus WHERE user_id = #{userId}
    </select>
    <delete id="deleteByUserId" parameterType="integer">
        delete from user_focus WHERE user_id = #{userId}
    </delete>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from user_focus
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insertSelective" parameterType="com.taylorsfan.blog.model.UserFocus">
        insert into user_focus
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="focusId != null">
                focus_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="focusId != null">
                #{focusId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.taylorsfan.blog.model.UserFocus">
        update user_focus
        set user_id = #{userId,jdbcType=INTEGER},
        focus_id = #{focusId,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>