<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taylorsfan.blog.repository.UserFanMapper">
    <resultMap id="BaseResultMap" type="com.taylorsfan.blog.model.relation.UserFan">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="fan_id" jdbcType="INTEGER" property="fanId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, fan_id
    </sql>
    <insert id="insert" parameterType="com.taylorsfan.blog.model.relation.UserFan">
        insert into user_fan (id, user_id, fan_id)
        values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{fanId,jdbcType=INTEGER})
    </insert>
    <select id="count" parameterType="integer" resultType="int">
        select COUNT(*) from user_fan WHERE user_id = #{userId}
    </select>
    <delete id="deleteByUserId">
        DELETE FROM user_fan WHERE user_id =#{userId}
    </delete>
    <delete id="deleteByFanId">
        DELETE FROM user_fan WHERE fan_id = #{fanId}
    </delete>
</mapper>