<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taylorsfan.blog.repository.UserFanMapper">
    <resultMap id="BaseResultMap" type="com.taylorsfan.blog.model.UserFan">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="fan_id" jdbcType="INTEGER" property="fanId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, fan_id
    </sql>
    <select id="selectAll" resultMap="BaseResultMap">
        select * from user_fan
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_fan
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="count" parameterType="java.lang.String" resultType="int">
        select COUNT(user_fan.*) from user_fan,user WHERE user.id = user_fan.user_id
        AND user.username = #{username}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from user_fan
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insertSelective" parameterType="com.taylorsfan.blog.model.UserFan">
        insert into user_fan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="fanId != null">
                fan_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="fanId != null">
                #{fanId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.taylorsfan.blog.model.UserFan">
        update user_fan
        set user_id = #{userId,jdbcType=INTEGER},
        fan_id = #{fanId,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>